{% extends "registration/auth_base.html" %}

{% block title %}Set a new password · StockRoom{% endblock %}
{% block heading %}{% if validlink %}Set a new password{% else %}That link doesn't work{% endif %}{% endblock %}

{% block body %}
{% if validlink %}
  <form method="post" class="mt-6 space-y-4">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn-primary">Save password</button>
  </form>
{% else %}
  <p class="text-gray-700">It's been used already or is too old. Reset links only work once.</p>
  <p class="mt-6"><a class="btn-primary" href="{% url 'password_reset' %}">Send a new link</a></p>
{% endif %}
{% endblock %}
